body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    height: 100%;
  }
    .home-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .home-header {
    background: #001529;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; 
    color: white;
  }
  
  .home-content {
    padding: 24px;
    text-align: center; 
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
  }
  
  .carousel img {
    flex: 0 0 auto; 
    width: 1500px; 
    margin-right: 0px; 
    height: 350px;
  }
  
  .nav-header .logo {
    width: 50px; 
    height: auto; 
  }
  
  .content-scrollable {
    height: calc(100vh - 70px); 
    overflow-y: auto;
    padding: 24px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  .sidebar-logo {
    text-align: center;
    padding: 16px;
    background: #000;
  }
  
  .sidebar-logo img {
    width: 50px;
  }
  
  .sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background: #000; 
    color: #fff; 
    text-align: center;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: cen
  }
  
  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-greeting {
    margin-top: 8px;
    font-size: 14px;
    color: #fff; 
  }
  
  .ant-layout-sider {
    background: #000 !important; 
  }
  
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    background: #000; 
  }
  
  .ant-menu-dark .ant-menu-item {
    color: #fff !important; 
  }
  
  .ant-menu-dark .ant-menu-item-selected {
    background: #333 !important; 
  }
  
  .ant-menu-dark .ant-menu-item:hover {
    background: #333 !important; 
  }
  