.regis-component {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
}

.responsive-card {
    width: 400px; 
    background-color: #166A79;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.23); 
   
}

.register-form {
    padding: 50px 35px;
}

.register-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff; 
    text-shadow: 2px 2px 5px rgba(223, 208, 208, 0.5); 
}

.register-form-item {
    margin-top: 30px;
}





.register-form-item input::placeholder {
    color: #000000; 
}

.register-form-button {
    margin-top: 30px;
    width: 100%;
    background-color: #0a0909; 
    color: #dfddf1; 
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease; 
}

.register-form-button:hover {
    background-color: #ffffff; 
    color: #080710; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
}

.register-form-error {
    color: red; 
}

.register-form-register {
    margin-top: 20px;
    font-size: 14px;
    color: #000000; 
}

.register-form-register a {
    color: #fefefe; 
}

.register-form-register a:hover {
    color: #036f99; }
