.drawer-content {
    color: #fff; /* Cambiado a blanco para mejor contraste */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.drawer-main {
    flex: 1;
}

.drawer-content .label {
    font-weight: bold;
    color: #fff; /* Asegúrate de que las etiquetas sean blancas */
}

.a-button {
    background-color: #1097a3b1;
    border-color: #1097a3b1;
    margin-top: 10px;
    color: white;
}

.a-button:hover {
    background-color: #3d3d3d;
    border-color: #7d7e7e;
}

.logout-button {
    background-color: #262626;
    border-color: #313131;
    margin-top: auto;
    color: rgba(255, 255, 255, 0.693);
}
