.carousel-container {
    width: 80%; 
    max-width: 700px; 
    margin: 0 auto;
}

.carousel .slick-slide {
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
}
