.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white; /* Color del texto */
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    width: 90px;
    height: auto;
}

.username {
    margin: 0 10px;
}

.nav-button {
    margin-left: 15px;
    color: white;
    border: none;
    background-color: transparent;
}

.nav-button:hover,
.nav-button:focus,
.nav-button:active {
    color: #166A79; /* Color azul al pasar el mouse, al estar enfocado y al ser clickeado */
}

.profesores {
    margin-left: 15px;
    color: white;
    border: none;
    background-color: transparent;
}

.profesores:hover,
.profesores:focus,
.profesores:active {
    color: #166A79; /* Color azul al pasar el mouse, al estar enfocado y al ser clickeado */
}

/* Clase para el botón activo */
.nav-button.active,
.profesores.active {
    color: #166A79;
}
